
 <main class="form">


<h2 style="text-align: center;">FINALIZAR VISITA</h2>

<form class="formulario">
  <mat-form-field appearance="fill" style="width: 100%;">
    <input matInput placeholder="Hora salida" [formControl]="horasalida">
     @if (horasalida.invalid) {
     <mat-error>{{getErrorMessagehorasalida()}}</mat-error>}
  </mat-form-field>

  <div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <button class="boton" (click)="cancelar()">Cancelar</button>
    <button class="boton" (click)="guardar()">Guardar</button>
  </div>
</form>

</main>