<p>recover-password works!</p>
#E8821F naranja
#2f3e50 azul
#fff7f0 naranjita 
#7b868c gris

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iconografía Web</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <style>
    .icon { margin: 10px; font-size: 30px; transition: transform 0.3s ease; color: #2f3e50;}
    .icon:hover { transform: scale(1.2); }
     .acciones {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      font-size: 26px;
    }
 
  </style>
</head>
<body style="background-color: white;">
  <h2>Iconos básicos</h2>
  <i class="fas fa-home icon"  title="Inicio"></i> <br> 
  <i class="fas fa-search icon"   title="Buscar"></i> <br> 
  <i class="fas fa-user icon"   title="Perfil"></i> <br> 
    <i class="fas fa-cog icon"   title="Configuracion"></i> <br> 
      <i class="fas fa-bars icon"    title="Menú"></i> <br> 
  <i class="fas fa-sign-out-alt icon"  title="Cerrar sesión"></i><br> 
  <i class="fas fa-times icon" title="Cancelar"></i> <br> <br> 


     <i class="fas fa-question-circle icon" title="Pregunta"></i><br> 
    <i class="fas fa-save icon" title="Guardar"></i> <br> 
       <i class="fas fa-bell icon"  title="Notificaciones"></i><br> 
      <i class="fas fa-file-upload icon" title="Subir archivo"></i> <br> 
      <i class="fas fa-plus-circle icon" title="Agregar nuevo"></i><br> 
      <i class="fas fa-download icon"  title="Descargar"></i><br> 
      <i class="fas fa-upload icon"  title="Subir"></i><br> 
      <i class="fas fa-arrow-left icon" title="Atrás"></i> <br> 
      <i class="fas fa-arrow-up icon" title="Atrás"></i> <br> 


 <div style="background-color: #E8821F;">
      <i class="fas fa-user icon"   title="Perfil"></i> <br> 
    <i class="fas fa-cog icon"   title="Configuracion"></i> <br> 
         <i class="fas fa-bell icon"  title="Notificaciones"></i><br> 
           <i class="fas fa-sign-out-alt icon"  title="Cerrar sesión"></i>
  </div>  




</body>
</html>
