    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');



.sidebar {
  width: 250px;
  background-color: #2f3e50; /* color base del fondo */
  color: white;
  height: 100vh;
  padding: 20px;
  font-family: sans-serif;
}

.sidebar .user-info {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar .menu li {
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
}

.sidebar .menu li.active {
  background-color: #ff9800; /* color naranja de selección */
  border-radius: 5px;
}


.titulo{
font-family: 'Roboto', sans-serif;
    font-size: 60px;
    padding-top: 30px;
    color: #E8821F;
    text-align: center;
}
.subtitulo{
  font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    color: #7B868C;
    text-align: center;
}
.texto{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 15px;
    color: black;
    text-align: center;
}
.imagen {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 900px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
    
    body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      padding: 0;
      background-color: white;
    }

    header {
      background-color: #E8821F;
      color: white;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 28px;
    }

    nav a {
      color: white;
      margin-left: 20px;
      text-decoration: none;
      font-weight: bold;
    }

    .hero {
      color: white;
      padding: 40px;
      text-align: center;
    }

    .hero h2 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .hero p {
      font-size: 18px;
    }

    .main-content {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      background-color: white;
    }

    .card {
      background-color: #fff7f0;;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.2s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h3 {
      margin-top: 0;
      color: #E8821F;
    }

    footer {
      background-color: #E8821F;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
    }
       .icon { margin: 10px; font-size: 30px; transition: transform 0.3s ease;}
    .icon:hover { transform: scale(1.2); }
     .acciones {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      font-size: 26px;
    }
