<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kpi de Recursos Humanos</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">

<img src="assets/LogoPetite.png" alt="logo">

      </div>
        
      <div class="user-info">

        <div class="user-icon">👤</div>
        <p>Rene Arteaga Meza</p>
      
        <button>Página principal</button>
        <button>Registro empleados</button>
        <button>Accesos</button>
        <button>Reportes/KPI</button>

           </div>    
      <a class="logout" href="#">Cerrar sesión</a>
    </aside>
    <main class="main-content">
      <header>
        <h1 style="color: #2F3E50; font-size: 30px;">KPI DE RECURSOS HUMANOS</h1>

      </header>

      <section class="cards-grid">
        <button class="card orange">
          <h3>33 de visitas este mes</h3>
        </button>
        <button class="card blue">
          <h3>9 Visitantes en planta</h3>
        </button>
        <button class="card orange">
          <h3>09% inasistencia hoy</h3>
        </button>
              </section>
                <br>
        <section class="cards-grid">

        <button class="card blue">
          <h3>90% de asistencia</h3>
          <div class="pie-chart"></div>
        </button>
        <button class="card orange">
          <h3>900 personas en planta</h3>
        </button>
        <button class="card blue">
          <h3>33 retardos hoy</h3>
        </button>
      </section>
      <div class="tabla-asistencias">
      <h3>REPORTE MENSUAL ASISTENCIAS</h3>
      <table>
        <thead>
          <tr>
            <th>Mes</th>
            <th>Porcentaje de asistencias</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>Enero</td><td>97%</td></tr>
          <tr><td>Febrero</td><td>97%</td></tr>
          <tr><td>Marzo</td><td>97%</td></tr>
          <tr><td>Abril</td><td>97%</td></tr>
          <tr><td>Mayo</td><td>97%</td></tr>
          <tr><td>Junio</td><td>97%</td></tr>
        </tbody>
      </table>
    </div>
    </main>
  </div>
</body>
</html>
