<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Recursos Humanos</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">

<img src="assets/LogoPetite.png" alt="logo">

      </div>
      <div class="user-info">
        <div class="user-icon">👤</div>
        <p>Rene Arteaga Meza</p>
        <button>Actualizar datos</button>
        <button>Cambiar contraseña</button>
      </div>
      <a href="#" class="logout">Cerrar sesión</a>
    </aside>

    <main class="main-content">
      <header>
        <h1 style="color: #2F3E50; font-size: 30px;">PORTAL DE RECURSOS HUMANOS</h1>
        <img src="assets/genteclayens3.png" alt="Imagen de empleados" class="banner-img">
      </header>

      <section class="cards-grid">
        <button class="card orange">
          <h3>Gestión de visitas</h3>
          <span>🚛</span>
        </button>
        <button class="card blue">
          <h3>9 Visitantes en planta</h3>
        </button>
        <button class="card orange">
          <h3>Gestión de asistencia</h3>
          <span>🕒</span>
        </button>
              </section>

                <br>


                      <section class="cards-grid">

        <button class="card blue">
          <h3>90% de asistencia</h3>
          <div class="pie-chart"></div>
        </button>
        <button class="card orange">
          <h3>Gestión de empleados</h3>
          <span>📋</span>
        </button>
        <button class="card blue">
          <h3>Reportes / KPI</h3>
          <span>📈</span>
        </button>
      </section>
    </main>
  </div>
</body>
</html>
