<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Recursos Humanos - Clayens México</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>

  <header>
          <img  src="assets/LogoMini.png"  alt="Logo">

    <h1>Clayens México - Recursos Humanos</h1>
    <nav>
            <i class="fas fa-arrow-left icon" title="Atrás"></i> 
       <i class="fas fa-user icon"   title="Perfil"></i> 
    <i class="fas fa-cog icon"   title="Configuracion"></i> 
         <i class="fas fa-bell icon"  title="Notificaciones"></i>
           <i class="fas fa-sign-out-alt icon"  title="Cerrar sesión"></i>
    </nav>
  </header>
  <section class="hero">
    <h2 class="titulo">Bienvenido al Portal Gestion de usuarios de  RH</h2>
                  <img class="imagen"  src="assets/genteclayens3.png"  alt="Logo">
    <p class="texto">Gestiona, actualiza o añade información de los empleados.</p>
  </section>

  <section class="main-content">
    <div class="card">
      <h3>Dar de alta nuevo empleado</h3>
      <p>Registrar a nuevo empleado de la empresa.</p>
    </div>

    <div class="card">
      <h3>Dar de baja empleado</h3>
      <p>Dar de baja como activo a un empleado de la empresa.</p>
    </div>

    <div class="card">
      <h3>Lista de empleados</h3>
      <p>Listado de todos los empleados activos e inactivos de la empresa.</p>
    </div>

    <div class="card">
      <h3>Actualizar datos de empleado</h3>
      <p>Modifica información personal o contacto en caso de cambios.</p>
    </div>
  </section>

  <footer >
      <p>Ubicación: Torreón, Coahuila, México</p>
    © 2025 Clayens México - Departamento de Recursos Humanos
  </footer>

</body>
</html>
