
    <mat-toolbar>
      <img   src="assets/LogoPetite.png" alt="Logo">
    </mat-toolbar>
<main>

 <main class="content2">

     <mat-card class="formulario">
    <div>
    <div class="inicioSesion"> 
        <h1 class="titulo"> CLAYENS MEXICO </h1>
        <h3 class="texto"> Nueva contraseña </h3>
    </div>
    </div>

     <div>
     <mat-form-field class="inputs">
     <mat-label>Nueva contraseña  </mat-label>
     <input matInput placeholder="nueva contraseña" [formControl]="actpass" required>
    @if (actpass.invalid) {
     <mat-error>{{getErrorMessageactpass()}}</mat-error>
     }
      </mat-form-field>
    
    <mat-form-field class="inputs">
     <mat-label>Confirmar contraseña</mat-label>
     <input matInput placeholder="Nueva contraseña" [formControl]="newpass" required>
     @if (newpass.invalid) {
     <mat-error>{{getErrorMessagenewpass()}}</mat-error>
     }
    </mat-form-field>
    
    </div>
    <br>
   
    <section>
     <div >
     <button class="boton-Crear" style="background-color: 
#E8821F;"  mat-flat-button ><a style="color: white;" href="nuevacontrasena">Guardar</a></button>
      </div> <br>
        <div >
     <button class="boton-Crear" style="background-color: 
#E8821F;"  mat-flat-button ><a style="color: white;" href="nuevacontrasena">Cancelar</a></button>
      </div>
      </section>
    
    </mat-card>


</main>