<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gestión de visitantes</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <div class="container">
    <aside class="sidebar">
<div class="logo">

<img src="assets/LogoPetite.png" alt="logo">

      </div>    
      
      <div class="user-info">

        <div class="user-icon">👤</div>
        <p>Rene Arteaga Meza</p>
      
        <button>Página principal</button>
        <button>Registro empleados</button>
        <button>Accesos</button>
        <button>Reportes/KPI</button>

           </div>    
      <a class="logout" href="#">Cerrar sesión</a>
    </aside>

    <main class="main-content">
      <header class="header">
        <h1 style="color: #2F3E50; font-size: 30px;">GESTIÓN DE VISITAS</h1>
        
      </header>

      


 <div class="filtros" >

        <mat-form-field>
     <mat-label>Nombre</mat-label>
     <input matInput placeholder="Nombre" [formControl]="nombre" required>
     @if (nombre.invalid) {
     <mat-error>{{getErrorMessageNombre()}}</mat-error>}
        </mat-form-field>

<button>  <i class="fas fa-search icon"   title="Buscar"></i> <br> 
</button>        <button class="clear" (click)="limpiar()">Clear</button>

       <select class="selects">
          <option value="">Estatus</option>
          <option value="activo">Completado</option>
          <option value="inactivo">Transito</option>
        </select>


        <div class="fecha">
          <input type="date" id="fecha" value="2025-06-01">
        </div>
      </div>
      <table class="tabla-visitantes">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Empresa</th>
            <th>Fecha</th>
            <th>Hora entrada</th>
            <th>Hora salida</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>René</td>
            <td>Arteaga</td>
            <td>Clayens</td>
            <td>22/09/2025</td>
            <td>12:00</td>
            <td>14:09</td>
            <td><span class="estado completado">Completado</span></td>
          </tr>
          <tr>
            <td>Victoria</td>
            <td>Reyes</td>
            <td>Clayens</td>
            <td>09/05/2025/td>
            <td>12:10</td>
            <td></td>
            <td><span class="estado transito">Transito</span></td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>
</html>
