
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 300px;
  background-color: #2F3E50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 250px;
  display: flex;
  margin-bottom: 60px;
}

.user-info {
  text-align: center;
}

.user-info p {
  font-family: 'open sans', sans-serif;
  font-size: 24px;
  margin-bottom: 60px;
}
.user-icon {
  font-size: 90px;
  margin-bottom: 10px;
}

.user-info button {
  background-color: #2F3E50;
  color: white;
  border: none;
  padding: 8px 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}

.logout {
  margin-top: auto;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding-top: 20px;
}


nav a {
   background-color: #2F3E50;
  color: white;
  border: none;
  padding: 8px 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
}



/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
}

